<div class="form-rental">
  <% if @rental.errors.any? %>
    <p>Você deve corrigir os seguintes erros:</p>
    <ul>
      <% @rental.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form_for @rental do |form| %>
    <p>
      <%= form.label :start_date, 'Data de início' %><br>
      <%= form.text_field :start_date %>
    </p>
    <p>
      <%= form.label :end_date, 'Data final' %><br>
      <%= form.text_field :end_date %>
    </p>
    <div>
      <%= form.label :client_id, 'Cliente' %>
      <%= form.collection_select(:client_id, @clients, :id, :name) %>
    </div>
    <div>
      <%= form.label :car_category_id, 'Categoria' %>
      <%= form.collection_select(:car_category_id, @car_categories, :id, :name )%>
    </div>

    <%= form.submit 'Enviar' %>

  <% end %>

</div>
